<ion-view view-title="Cards" class="cards">
    <ion-content class="black-ground" fab-scroll-container>
        <div class="no-slides" ng-if="cards.length==0">
            <span>No Cards</span>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-if="cards.length!=0">
            <ion-slide ng-repeat="c in cards">
                <div class="card-block" style="background-color: {{getColors(c.color)}}">
                    <img class="logo" src="img/logos/citi.png"/>

                    <div class="number">{{c.no | cardNo}}</div>
                    <span>Valid Thru</span>

                    <div class="valid">
                        {{c.valid.m}}/{{c.valid.y}}
                    </div>
                    <div class="name">{{c.name}}</div>
                    <div class="circle"></div>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="list-transactions">
            <div class="item item-divider">
                Today, 23<sup>rd</sup> November
            </div>
            <div class="item item-complex" ng-repeat="t in transactions">
                <div class="cat" ng-class="t.category.toLowerCase()">
                    <i class="icon ion-star"></i>
                </div>
                <a class="item-content"  ui-sref="">
                    <span class="item-note" ng-class="{'assertive':t.status=='loss','light':t.status=='profit'}" ng-bind="t.price | currency"></span>
                    <h2 ng-bind="t.category"></h2>
                </a>
            </div>
        </div>
    </ion-content>
    <fab ng-click="addCard()">
        <i class="icon ion-plus"></i>
    </fab>
</ion-view>
