<ion-view view-title="All Transactions" class="home">
    <!--<ion-nav-title ng-click="popover.show($event)">
  {{option}} <i class='icon ion-android-arrow-dropdown'></i>
    </ion-nav-title>-->
    <ion-content has-bouncing="false" class="black-ground" fab-scroll-container>
        <ion-list class="list-transactions" delegate-handle="list-transactions">
            <ion-item class="item" ng-repeat="t in transactions | filter:date" on-drag-end="deleteCard($event, t)" style="background-color: #de473d">
                <div class="cat" cat-color="t.cat.color">
                    <i class="icon" ng-class="t.cat.icon"></i>
                </div>
                <h2>{{t.cat.val}}</h2>
                <span class="item-note" check-loss="t.price">{{t.price | currency}}</span>
                <p>{{t.date | date:"MM/dd/yy 'at' h:mma"}}</p>
                <ion-option-button class="button-assertive">
                    <i class="icon ion-android-delete"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <fab ng-click="addTransaction()" live-displace="true">
        <i class="icon ion-plus"></i>
    </fab>
</ion-view>
