.cards{
  .no-slides{
    position: relative;
    min-height: 190px;
    span{
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      color: #fff;
      text-align: center;
      height: 18px;
    }
  }
}
