.slideBox{
  background-color: $primaryColor;
  transition: all 0.3s ease-in 0s;
  .slides{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 44px;
    .slider {
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      .slider-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        .content-block{
          text-align: center;
          margin: auto;

          h3{
            color: #fff;
            font-size: 2em;
            font-weight: 500;
          }
          p{
            margin: 0;
            padding: 12px;
            font-size: 1.4em;
            line-height: 1.4em;
            font-weight: 300;
            text-align: center;
            color: #ffffff;
          }
          .logo {
            margin: 30px auto;
            img{
              width: 120px;
            }
          }
        }
      }
      .slider-pager{
        position: fixed;
        bottom: 14px;
        left: 0;
        right: 0;
      }
    }
  }
  .bar.bar-footer{
    border-top: 1px solid rgba(255,255,255,0.5);
    background-color: transparent;
    padding: 1em;
    button{
      font-size: 1.4em;
      font-weight: 400;
      color: #ffffff;
      transition: none;
      &:first-child{
        position: absolute;
        top: 5px;
        left: 5px;
        bottom: 5px;
      }
      &:last-child{
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
      }
    }
  }
}
