@font-face {
  font-family: 'Roboto-Medium';
  src:url("../fonts/Roboto-Medium.ttf?v=2.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src:url("../fonts/Roboto-Light.ttf?v=2.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src:url("../fonts/Roboto-Regular.ttf?v=2.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OCRA-Extended';
  src:url("../fonts/OCRA-Extended.ttf?v=1.80") format("truetype");
  font-weight: normal;
  font-style: normal;
}
