<ion-modal-view class="add-transaction">
  <ion-header-bar class="bar-stable">
    <button class="button button-icon ion-android-close" ng-click="modal.hide()"></button>
    <h1 class="title">Add Transaction</h1>
    <button class="button button-icon icon ion-android-done" ng-click="addTran()"></button>
  </ion-header-bar>
  <ion-content class="black-ground">
    <div class="list-setting">
      <label class="item item-icon-left item-input">
        Amount
        <i class="icon ion-cash"></i>
        <input type="number" ng-model="newTran.price"/>
      </label>

      <div class="item item-icon-left item-icon-right" ng-click="showCat()">
        <i class="icon ion-pricetag"></i>
        Category
        <span class="item-note">{{getCat(newTran.cat)}}</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <label class="item item-icon-left item-icon-right">
        <i class="icon ion-android-calendar"></i>
        Date
        <span class="item-note">{{newTran.date | date:'d MMM, yyyy'}}</span>
        <input type="date" ng-model="newTran.date"/>
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <!--<div class="item item-icon-left slider-item">
      </div>-->
      <div class="item-slide">
        <i class="icon ion-card"></i>

        <p>Select Card</p>

        <div class="empty" ng-if="cards.length==0">
          No cards, First create Card
        </div>
        <div class="selection" ng-if="cards.length!=0">
          <i class="ion-checkmark-circled"></i>
        </div>
        <ion-slide-box on-slide-changed="setCard($index)" ng-if="cards.length!=0">
          <ion-slide ng-repeat="c in cards">
            <card color="c.color"
                  type="c.type"
                  name="c.name"
                  valid="c.valid"
                  bank="c.bank"
                  number="c.no"></card>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
