<ion-modal-view class="add-card">
  <ion-header-bar class="bar-stable">
    <div class="buttons buttons-left">
      <div class="left-buttons">
        <button class="button button-icon ion-android-close" ng-show="step==1" ng-click="modal.hide()"></button>
        <button class="button button-icon ion-android-arrow-back" ng-show="step==2" ng-click="back()"></button>
      </div>
    </div>
    <div class="buttons buttons-right">
      <div class="right-buttons">
        <button class="button button-icon icon ion-android-arrow-forward" ng-show="step==1"
                ng-click="next()"></button>
        <button class="button button-icon icon ion-android-done" ng-show="step==2" ng-click="done()"></button>
      </div>
    </div>
    <h1 class="title">Add Card</h1>
  </ion-header-bar>
  <ion-content class="black-ground">
    <div class="list-setting">
      <div ng-show="step==1">
        <div class="item item-divider">Bank Option</div>
        <label class="item item-input">
          <div class="input-label">
            Bank Name
          </div>
          <input type="text" ng-model="newCard.bank"/>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Card Type
          </div>
          <select ng-options="i for i in type" ng-model="newCard.type">
            <option>select payment system</option>
          </select>
        </label>

        <div class="item item-divider">Choose card color</div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="color-block">
              <div ng-repeat="c in colors | slice:0:10" ng-click="selectColor(c)">
                                <span ng-style="{'background-color':c.val}"
                                      ng-class="{'active':isSelectedColor(c)}"></span>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="color-block">
              <div ng-repeat="c in colors | slice:10:20" ng-click="selectColor(c)">
                                <span ng-style="{'background-color':c.val}"
                                      ng-class="{'active':isSelectedColor(c)}"></span>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
      <div ng-show="step==2">
        <div class="item item-divider">Card info</div>
        <label class="item item-input">
          <div class="input-label">
            Card no.
          </div>
          <input type="text" ui-mask="9999 9999 9999 9999" ng-model="newCard.no"/>
        </label>
        <label class="item item-input">
          <div class="input-label">
            Cardholder name
          </div>
          <input type="text" ng-model="newCard.name"/>
        </label>
        <label class="item item-input">
          <div class="input-label">
            Valid year
          </div>
          <input type="number" size="2" ng-model="newCard.valid.y"/>
        </label>
        <label class="item item-input">
          <div class="input-label">
            Valid month
          </div>
          <input type="number" size="2" ng-model="newCard.valid.m"/>
        </label>
      </div>
      <div class="padding">
        <card
          color="getColors(newCard.color)"
          type="newCard.type"
          name="newCard.name"
          valid="newCard.valid"
          bank="newCard.bank"
          number="newCard.no">
        </card>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
