<ion-view view-title="Calendar">
  <ion-nav-title ng-click="popover.show($event)">
    Calendar <!--<i class='icon ion-android-arrow-dropdown'></i>-->
  </ion-nav-title>
  <ion-content class="black-ground">
    <kendo-calendar ng-model="dateModel" k-options="options" on-swipe-left="onSwipeLeft()"
                    on-swipe-right="onSwipeRight()"></kendo-calendar>
    <hr/>
    <div class="no-items" ng-if="filteredTransactions.length==0" style="top: 220px;">
      <i class="icon ion-android-alert"></i>
      <p>No Transactions</p>
    </div>
    <div class="list-transactions">
      <transaction ng-repeat="t in filteredTransactions | orderBy:'-date'" transaction="t"  ng-click="" on-hold="more($index)"></transaction>
    </div>
  </ion-content>
</ion-view>
