<ion-view view-title="Cards" class="cards">
  <ion-content class="black-ground" fab-scroll-container>
    <div class="no-slides" ng-if="cards.length==0">
      <span>No Cards</span>
    </div>
    <ion-slide-box on-slide-changed="cardChanged($index)" ng-if="cards.length!=0">
      <ion-slide ng-repeat="c in cards">
        <card color="c.color" type="c.type" name="c.name" valid="c.valid" bank="c.bank" number="c.no"
              on-hold="more()"></card>
      </ion-slide>
    </ion-slide-box>
    <div class="list-transactions" ng-if="cards.length!=0">
      <ion-item class="item" ng-repeat="t in filteredTransactions | filter:date">
        <div class="cat" cat-color="t.cat.color">
          <i class="icon" ng-class="t.cat.icon"></i>
        </div>
        <h2>{{t.cat.val}}</h2>
        <span class="item-note" check-loss="t.price">{{t.price | currency}}</span>

        <p>{{t.date | date:"MM/dd/yy 'at' h:mma"}}</p>
        <ion-option-button class="button-assertive">
          <i class="icon ion-trash-b"></i>
        </ion-option-button>
        <ion-option-button class="button-assertive">Edit</ion-option-button>
      </ion-item>
    </div>
  </ion-content>
  <fab ng-click="addCard()">
    <i class="icon ion-plus"></i>
  </fab>
</ion-view>
