<ion-view view-title="Cards" class="cards">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-calendar" ui-sref="app.calendar"></button>
  </ion-nav-buttons>
  <ion-content class="black-ground" fab-scroll-container>
    <div class="no-slides" ng-if="cards.length==0">
      <span>No Cards</span>
    </div>
    <ion-slide-box on-slide-changed="cardChanged($index)" ng-if="cards.length!=0">
      <ion-slide ng-repeat="c in cards">
        <card color="c.color" type="c.type" name="c.name" valid="c.valid" bank="c.bank" number="c.no"
              on-hold="more()"></card>
      </ion-slide>
    </ion-slide-box>
    <div class="list-transactions" ng-if="cards.length!=0">
      <transaction ng-repeat="t in filteredTransactions | orderBy:'-date'" transaction="t"  ng-click="" on-hold="more($index)"></transaction>
    </div>
  </ion-content>
  <fab ng-click="addCard()">
    <i class="icon ion-plus"></i>
  </fab>
</ion-view>
