<ion-view view-title="All Transactions" class="home">
  <!--<ion-nav-title ng-click="popover.show($event)">
{{option}} <i class='icon ion-android-arrow-dropdown'></i>
  </ion-nav-title>-->
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-calendar" ui-sref="app.calendar"></button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false" class="black-ground" fab-scroll-container>
    <ion-list class="list-transactions">
      <transaction ng-repeat="t in transactions | orderBy:'-date'" transaction="t"  ng-click="" on-hold="more($index)"></transaction>
    </ion-list>
    <div class="no-items" ng-if="transactions.length==0">
      <i class="icon ion-android-alert"></i>
      <p>No Transactions</p>
    </div>
  </ion-content>
  <fab ng-click="addTransaction()" live-displace="false">
    <i class="icon ion-plus"></i>
  </fab>
</ion-view>
